/*============================== NAV-HEADER MENU=================================*/

.container {
    width: 100%;
    height: auto;
}

.nav-header-menu {
    position: absolute;
    width: 100%;
    height: 141px;
    left: -1px;
    top: 75px;
}

.nav-header-menu a {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    color: black;
    font-family: Roboto Slab;
    text-decoration: none;
}

.nav-menu-split a {
    position: absolute;
    width: 122px;
    height: 40px;
    left: 100px;
    top: 52px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 37px;
    display: flex;
    align-items: center;
    color: #161616;
}

.nav-menu-works a {
    position: absolute;
    width: 129.79px;
    height: 22.14px;
    left: 272.19px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
    opacity: 0.6;
    margin-left: 20.19px !important;
}

.nav-menu-features a {
    position: absolute;
    width: 86.86px;
    height: 22.14px;
    left: 437.92px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
    opacity: 0.6;
    margin-left: 39.50px !important;
}

.nav-menu-blog {
    position: absolute;
    width: 45.92px;
    left: 565.71px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
    opacity: 0.6;
    margin-left: 58.50px !important;
}

.nav-menu-help a {
    position: absolute;
    width: 45.92px;
    height: 22.14px;
    left: 655.56px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
    opacity: 0.6;
    margin-left: 70.50px !important;
}

.nav-menu-login a {
    position: absolute;
    width: 62.04px;
    height: 22.14px;
    left: 1051.73px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
    margin-left: 90px!important;
}

.nav-menu-signup a {
    position: absolute;
    width: 76.05px;
    height: 22.14px;
    left: 1188.83px;
    top: 58.26px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #161616;
}

.line {
    position: absolute;
    width: 62.93px;
    height: 0px;
    left: 1100px;
    top: 80.45px;
    opacity: 0.6;
    border: 0.1px solid #161616;
    transform: rotate(90deg);
    margin-left: 98px!important;
}

.nav-menu-signup {
    position: absolute;
    width: 127.09px;
    height: 59.43px;
    left: 1162.81px;
    top: 50.0px;
    background: #13A0FE;
    border-radius: 5px;
    margin-left: 91px!important;
}

.nav-menu-signup a {
    left: 25px;
    top: 3px;
    color: white;
}

.btnSignup {
    position: absolute;
    width: 76.05px;
    height: 22.14px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 19px;
    display: flex;
    align-items: center;
    /* margin-left:10px!important; */
}

/* =================================MAIN TRANSACTION ============================= */

.transaction {
    position: absolute;
    width: 100%;
    height: 600px;
    left: -1px;
    top: 195px;
    background: linear-gradient(259.16deg, #13A0FE 0%, #0E9AF7 78.07%, #129EFC 78.07%);
    margin-top: 19px!important;
}

.phone img {
    position: absolute;
    width: 268px;
    height: 498px;
    left: 165.02px;
    top: 34px;
}

.transaction-text {
    position: absolute;
    width: 724px;
    height: 113px;
    left: 507px;
    top: 100px;
    font-family: Gotham;
    font-style: normal;
    font-size: 28px;
    line-height: 55px;
    align-items: center;
    color: #FFFFFF;
    opacity: 0.9;
}

.transaction-text span {
    background-color: #B0E0E6;
}

.h4 {
    position: absolute;
    width: 587px;
    height: 27px;
    left: 507px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    /* margin: 40px 40px 0px 0px; */
}

.transaction-text h4 {
    margin-top: 40px !important;
    margin-left: 9px !important;
}

.transaction-text h1 {
    margin-left: 9px !important;
}

.app {
    position: absolute;
    width: 400px;
    height: 72px;
    top: 256px;
    display: inline-flex;
}

.googlepay img {
    margin-right: 40px;
    margin-bottom: 20px;
    ;
}

/*=============================SPONSOR SECTION-=======================================*/

.main-sponsor-section {
    position: absolute;
    width: 100%;
    height: 178px;
    left: 0px;
    top: 811px;
    background: rgba(48, 48, 255, 0.2);
}

.main-group-partner {
    margin-left: 263px;
    margin-right: 262.13px;
    display: flex;
    justify-content: space-around;
    top: 15px;
}

.group-partner1 img {
    width: 154.72px;
    height: 115.94px;
    margin-top: 8px;
    margin-left: 263px;

}

.group-partner2 img {   
    width: 154.72px;
    height: 115.94px;
    margin-left: 79px;
}

.group-partner3 img {
    width: 154.72px;
    height: 115.94px;
    margin: 8px 50px;
    margin-left:91px;
}

.group-partner4 img {
    width: 154.72px;
    height: 115.94px;
    margin-left:21px;
}

/* =========================MAIN SECTION2 SOCIALIZING ================================ */

.main-section2-sociali {
    position: absolute;
    width: 972px;
    height: 477px;
    left: 234px;
    top: 979px;
}

.main-section2-sociali-group {
    position: absolute;
    width: 436.06px;
    height: 105px;
    left: 250px;
    top: 300px;
}

.main-section2-become {
    width: 972px;
    height: 477px;
    left: 234px;
    top: 979px;
    align-items: center;
    text-align: center;
}

.main-section2-become-title h2 {
    position: absolute;
    width: 658px;
    height: 137px;
    left: 250px;
    top: 30px;
    bottom: 30px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    color: #161616;
}

.main-section2-become-content h4 {
    position: absolute;
    width: 800px;
    height: 175px;
    left: 150px;
    top: 200px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    opacity: 0.6;
}

.main-section2-sociali-group {
    top: 450px;
    left: 285.0px;
}

.sociali-group {
    display: inline-flex;
    justify-content: space-around;
}

.sociali-group img {
    margin-left: 10px;
}

/* ====================================== MAIN SECTION3 =========================== */

.main-section3 {
    position: absolute;
    width: 100%;
    height: 1618px;
    left: 100px;
    top: 1538px;
}

.main-section3-title p {
    position: absolute;
    width: 658px;
    height: 71px;
    left: 391px;
    top: 63px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #161616;
}

.main-section3-multi {
    position: absolute;
    width: 1240px;
    height: 461px;
    left: 100px;
    background: rgba(18, 158, 252, 0.1);
    top: 245.53px;
}

.main-section3-multi-text {
    position: absolute;
    width: 553px;
    height: 110px;
    left: 0px;
    top: 0px;
}

.multi-text1 {
    position: absolute;
    width: 426px;
    height: 60px;
    left: 50px;
    top: 176px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
}

.multi-text2 {
    position: absolute;
    width: 553px;
    height: 40px;
    left: 50px;
    top: 246px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #161616;
    opacity: 0.6;
}

.main-section3-multi-img img {
    position: absolute;
    width: 542px;
    height: 361px;
    left: 648px;
    top: 50px;
    border-radius: 10px;
}

.main-section3-safety {
    position: absolute;
    width: 1240px;
    height: 461px;
    left: 100px;
    background: rgba(18, 158, 252, 0.1);
    top: 756.52px;
}

.main-section3-safety-text {
    position: absolute;
    width: 510px;
    height: 110px;
    left: 637px;
    top: 0px;
}

.safety-text1 {
    position: absolute;
    width: 349px;
    height: 60px;
    left: 5px;
    top: 176px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    color: #161616;
}

.safety-text2 {
    position: absolute;
    width: 510px;
    height: 40px;
    left: 45px;
    top: 246px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    text-align: center;
    color: #161616;
    opacity: 0.6;
}

.main-section3-safety-img img {
    position: absolute;
    width: 542px;
    height: 361px;
    left: 50px;
    top: 50px;
    border-radius: 10px;
}

.main-section3-cashless {
    position: absolute;
    width: 1240px;
    height: 461px;
    left: 100px;
    background: rgba(18, 158, 252, 0.1);
    top: 1267.53px;
}

.main-section3-cashless-text {
    position: absolute;
    width: 465px;
    height: 110px;
    left: 50px;
    top: 0px;
}

.cashless-text1 {
    position: absolute;
    width: 403px;
    height: 60px;
    left: 0px;
    top: 176px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #161616;
}

.cashless-text2 {
    position: absolute;
    width: 465px;
    height: 40px;
    left: 50px;
    top: 246px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #161616;
    opacity: 0.6;
}

.main-section3-cashless-img img {
    position: absolute;
    width: 542px;
    height: 361px;
    left: 50px;
    top: 50px;
    border-radius: 10px;
    position: absolute;
    width: 542px;
    height: 361px;
    left: 648px;
    top: 50px;
    border-radius: 10px;
}

/*========================= MAIN SECTION4 ============================ */

.main-section4 {
    position: absolute;
    width: 100%;
    height: 546px;
    left: 100px;
    top: 3241px;
}

section {
    width: 100%;
}

.main-section4-title {
    position: absolute;
    width: 162px;
    height: 60px;
    left: 639px;
    top: 62px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #161616;
}

.section4-promo1 {
    position: absolute;
    width: 345px;
    height: 436px;
    left: 170px;
    top: 220px;
    margin-right: 28px;
    background: #129EFC;
}

.section4-promo1-text {
    position: absolute;
    width: 173px;
    height: 246px;
    left: 0px;
    top: 190px;
    position: absolute;
    width: 256px;
    height: 114px;
    left: 45px;
    top: 76px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.section4-promo1-img img {
    position: absolute;
    width: 173px;
    height: 246px;
    left: 0px;
    top: 190px;
}

.section4-promo2 {
    position: absolute;
    width: 345px;
    height: 436px;
    left: 544.5px;
    top: 220px;
    margin-right: 28px;
    background: #FE808C;
}

.section4-promo2-text {
    position: absolute;
    width: 173px;
    height: 246px;
    left: 0px;
    top: 190px;
    position: absolute;
    width: 256px;
    height: 114px;
    left: 45px;
    top: 76px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.section4-promo2-img img {
    position: absolute;
    width: 278px;
    height: 239px;
    left: 26px;
    top: 198.0px;
}

.section4-promo3 {
    position: absolute;
    width: 345px;
    height: 436px;
    left: 919.5px;
    top: 220px;
    background-color: #65D58D;
}

.section4-promo3-text {
    position: absolute;
    width: 173px;
    height: 246px;
    left: 0px;
    top: 190px;
    position: absolute;
    width: 256px;
    height: 114px;
    left: 45px;
    top: 76px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.section4-promo3-img img {
    position: absolute;
    width: 301px;
    height: 220px;
    left: 30.0px;
    top: 200px;
}

/* =============================FOOTER SECTION======================= */

.footer-section-rectangle-top {
    position: absolute;
    width: 100%;
    height: 412px;
    left: 0px;
    top: 3897.0px;
    margin-top: 137px;
    background: #13A0FE;
}

.footer-section-group1 {
    position: absolute;
    width: 1124px;
    height: 250px;
    left: 70px;
    top: 104px;
}

.section-group1-content1 {
    position: absolute;
    width: 1124px;
    height: 250px;
    left: 158px;
    top: 0px;
}

.group1-content1-text1 p {
    position: absolute;
    width: 138px;
    height: 30px;
    left: 20px;
    top: -24px;
    bottom: 278px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content1-text2 p {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 30px;
    top: 40px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content1-text3 p {
    position: absolute;
    width: 120px;
    height: 30px;
    left: 30px;
    top: 80px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content1-text4 p {
    position: absolute;
    width: 76px;
    height: 30px;
    left: 30px;
    top: 120px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content1-text5 p {
    position: absolute;
    width: 76px;
    height: 30px;
    left: 30px;
    top: 160px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content1-text6 p {
    position: absolute;
    width: 76px;
    height: 30px;
    left: 30px;
    top: 200px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.section-group1-content2 {
    position: absolute;
    width: 100px;
    height: 250px;
    left: 423px;
    top: 0px;
}

.group1-content2-text1 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 22.5px;
    top: -24px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content2-text2 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 25px;
    top: 40px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content2-text3 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 22.5px;
    top: 80px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content2-text4 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 22.5px;
    top: 120px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content2-text5 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 22.5px;
    top: 160px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content2-text6 p {
    position: absolute;
    width: 74px;
    height: 30px;
    left: 22.5px;
    top: 200px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.section-group1-content3 {
    position: absolute;
    width: 316px;
    height: 110px;
    left: 500px;
    top: 0px;
}

.group1-content3-subscribe p {
    position: absolute;
    width: 121px;
    height: 22.1px;
    left: 175px;
    top: -24px;
    ;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content3-submit {
    position: absolute;
    width: 316px;
    height: 50px;
    left: 0px;
    top: 50px;
}

.content3-submit-email p {
    position: absolute;
    width: 115px;
    height: 30px;
    left: 20px;
    top: -6px;
    font-family: Gotham;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: black;
    opacity: 0.6;
}

.content3-submit-input {
    position: absolute;
    width: 245px;
    height: 50px;
    left: 158px;
    top: 2px;
    background: #FFFFFF;
}

.content3-submit-click {
    position: absolute;
    height: 40px;
    left: 405px;
    top: 2px;
    background-color: blanchedalmond;
}

.submit-click-rectangle {
    position: absolute;
    width: 71px;
    height: 50px;
    left: -2px;
    top: 0px;
    background: #0070BB;
}

.submit-click-line img {
    position: absolute;
    left: 25px;
    top: 17px;
}

.section-group1-content4 {
    position: absolute;
    width: 180px;
    height: 234px;
    left: 1080.10px;
    top: 0px;
}

.group1-content4-title p {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 41px;
    top: -24px;
    font-family: Gotham;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group1-content4-googlepay img {
    position: absolute;
    width: 180px;
    height: 72px;
    left: 24px;
    top: 60px;
}

.group1-content4-appstore img {
    position: absolute;
    width: 180px;
    height: 72px;
    left: 24px;
    top: 162px;
}

.footer-section-rectangle-bottom {
    position: absolute;
    width: 100%;
    height: 95px;
    left: 0px;
    top: 4440.50px;
    background: #1D2432;
}

.footer-section-group2 {
    position: absolute;
    width: 467px;
    height: 30px;
    left: 690px;
    top: 33px;
}

.section-group2-term p {
    position: absolute;
    width: 95px;
    height: 30px;
    left: 250px;
    top: -17px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: -125px!important;
}

.section-group2-privacy p {
    position: absolute;
    width: 111px;
    height: 30px;
    left: 380px;
    top: -17px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: -120.90px!important;
}

.section-group2-cardholder p {
    position: absolute;
    width: 183px;
    height: 30px;
    left: 530px;
    top: -17px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: -120.90px!important;
}

.footer-section-splitbills p {
    position: absolute;
    width: 207px;
    height: 30px;
    left: 158px;
    top: 13px;
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

body {
    width: 100%;
    margin: 0;
}